@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans&family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #3d265a;
    /* background-color: #4f3074; */
    font-family: "Open Sans", sans-serif;
  }
  h1,
  h2,
  h3 {
    @apply font-bold;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 1.8rem;
  }

  h3 {
    @apply text-lg sm:text-2xl;
  }

  input {
    @apply border-2 border-purple-300 rounded p-2;
    width: 100%;
  }

  input[type="submit"] {
    @apply cursor-pointer;
  }

  input::placeholder {
    @apply text-slate-400;
  }

  input:focus {
    @apply outline-transparent;
  }

  a {
    @apply text-purple-600 font-semibold;
  }
}

@layer components {
  .btn {
    @apply rounded px-4 py-2;
    font-weight: 500;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .btn-rounded {
    @apply rounded-full;
  }

  .btn-solid {
    @apply bg-purple-800 text-white;
  }

  .btn-solid:hover {
    /* @apply shadow-purple-900; */
    box-shadow: inset 300px 0 0 0 #581c87;
  }

  .btn-dotted {
    @apply border-4 border-white border-dotted;
  }

  .btn-dotted:hover {
    @apply border-solid bg-white text-purple-900;
  }

  .btn-yellow {
    @apply bg-yellow-500 text-white;
  }

  .btn-yellow:hover {
    /* @apply bg-yellow-600; */
    box-shadow: inset 300px 0 0 0 #ca8a04;
  }

  .btn-outline {
    @apply border-2;
  }

  .btn-icon {
    @apply text-xl inline-block mr-1;
  }

  .modal-content {
    @apply bg-white text-slate-900 absolute top-20 left-1/2 w-4/5 max-w-screen-md p-6 rounded;
    transform: translateX(-50%);
  }

  .modal-btn {
    @apply absolute right-0 top-2 text-xl;
  }

  .tag {
    @apply bg-gray-600 w-1/12 py-1 text-center text-sm font-semibold text-slate-100 rounded;
  }

  .EATOUT {
    @apply bg-rose-500;
  }

  .DELIVERY {
    @apply bg-yellow-500;
  }

  .GROCERY {
    @apply bg-orange-500;
  }

  .OTHERS {
    @apply bg-purple-600;
  }

  .calculator-label {
    @apply inline-block mb-1 text-base font-semibold text-fuchsia-900;
  }

  .calculator-input {
    @apply border-4 border-dotted border-fuchsia-700 text-end p-2 rounded-xl font-semibold text-lg;
  }

  .card {
    @apply mx-auto w-4/5 max-w-sm bg-white pt-8 px-6 rounded text-fuchsia-900 border-b-8 border-yellow-500;
  }

  .nav-bar {
    @apply flex justify-between py-4 w-11/12 mx-auto;
  }

  .nav-bar a {
    @apply text-white;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .nav-link {
    @apply p-2;
  }

  .nav-link:hover {
    box-shadow: inset 110px 0 0 0 #ffffff;
    color: #3d265a;
  }

  .logo {
    @apply text-2xl;
    font-family: "Tilt Neon", cursive;
  }

  .main-container {
    @apply grow rounded-2xl py-12;
    background-color: #4f3074;
  }

  .monthly-expense {
    @apply mt-2 text-4xl underline underline-offset-8 decoration-dotted decoration-8;
  }
}

@layer ultilities {
  .fill-screen {
    @apply fixed inset-0;
  }
}
